<%= form_with url: pages_path do |form| %>
<%= form.text_field :url %>
  <%= form.submit %>
<% end %>

<% @photos.each do |photo| %>
  <div>
    <%= link_to(image_tag(photo), photo) %>
  </div>
<% end %>
